body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   }
   .move-icon{
    height: 50px;
    
   }
   .move-button {
    background-color: transparent;
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin: 10px;
   }
   .result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
   }
   .score {
    margin-top: 60px;
   }
   .rest-score-button, .auto-play-button {
    font-size: 14px;
    border: none;
    background-color: white;
    padding: 8px 15px;
    cursor: pointer;
   }