.Amazon-button{
  background-color: rgb(255, 216, 20);
  font-size: 18px;
  padding: 10px 50px;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.Uber-button{
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.Schedule-button{
  border:none;
  font-size: 14px;
  padding: 10px 30px;
  background-color: rgb(230, 230, 230);
}
.js-button {
  margin-top: 20px;
}