.for-spacing {
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgb(209, 208, 208);
  border: none;
  font-size: large;
  border-radius: 8px;
}
.for-spacing-2 {
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border: none;
  font-size: large;
  border-radius: 8px;
  color: white;
} 