body {
    font-family: Arial, sans-serif;
}
.Todo-input-grid, .todo-grid {
    display: grid;
    grid-template-columns : 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.Todo-input-grid{
    margin-bottom: 10px;
}
.name-input {
    padding: 6px;
    font-size: 14px;
}
#due-date-input {
    padding: 6px;
    font-size: 14px;
    align-items: stretch;
}
#add-todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
}
.delet-todo-button {
    background-color: darkred;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}