    body {
    background-color : rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
        }
    .move-icon {
        height: 50px;
    }
    .move-button {
        background-color: transparent;
        border: 3px solid white;
        margin: 10px;
        cursor: pointer;
        width: 120px;
        height: 120px; 
        border-radius: 60px;
    }
    .result{
        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;
    }
    .scores{
        margin-top: 60px;
    }
    .reset-scores-button, .auto-play-button {
        padding: 8px 15px;
        font-size: 15px;
        background-color: white;
        border: none;
        cursor: pointer;
    }